<!-- <Row>
    <Col xs={5} md={4} lg={4}>
    <Image src={require("../images/Todo-Front.png")} fluid onMouseOver={e=> (e.currentTarget.src =
        require("../images/Todo-Back.png"))}
        onMouseOut={e => (e.currentTarget.src = require("../images/Todo-Front.png"))} />
        </Col>
        <Col xs={5} md={4} lg={4}>
        <Image src={require("../images/Duke.png")} fluid onMouseOver={e=> (e.currentTarget.src =
            require("../images/Todo-Back.png"))}
            onMouseOut={e => (e.currentTarget.src = require("../images/Duke.png"))} />
            </Col>
</Row>
<Row>
    <Col xs={5} md={4} lg={4}>
    <Image src={require("../images/JelphaBot.png")} fluid onMouseOver={e=> (e.currentTarget.src =
        require("../images/Todo-Back.png"))}
        onMouseOut={e => (e.currentTarget.src = require("../images/JelphaBot.png"))} />
        </Col>
        <Col xs={5} md={4} lg={4}>
        <Image src={require("../images/Todo-Front.png")} fluid onMouseOver={e=> (e.currentTarget.src =
            require("../images/Todo-Back.png"))}
            onMouseOut={e => (e.currentTarget.src = require("../images/Todo-Front.png"))} />
            </Col>
</Row> -->

<div class="modal" id="todoModal" tabindex="-1" role="dialog" aria-labelledby="todoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <Modal.Header>
                <h5 class="modal-title" id="todoModal">Todo App</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </Modal.Header>
            <Modal.Body>
                Heroku deployment in progress
            </Modal.Body>
            <Modal.Footer>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </Modal.Footer>
        </div>
    </div>
</div>