@font-face {
  font-family: Raleway;
  src: url(./fonts/Raleway/Raleway-Medium.ttf);
}

@font-face {
  font-family: Lora;
  src: url(./fonts/Lora/Lora-VariableFont_wght.ttf);
}

@font-face {
  font-family: Jost;
  src: url(./fonts/Jost/Jost-VariableFont_wght.ttf);
}

@font-face {
  font-family: Josefin;
  src: url(./fonts/Josefin/JosefinSans-VariableFont_wght.ttf);
}

.josefin {
  font-family: 'Josefin';
  font-weight: normal;
}

.lora {
  font-family: 'Lora';
  font-weight: normal;
}

.App {
  text-align: center;
  background-color: #1d1d1d;
  color: #fefefe;
  background-image: url("./images/about.svg");
  background-size: cover !important;
  -webkit-background-size: cover !important;
  background-attachment: local;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  font-family: Jost;
  font-weight: bold;
  padding: 40px;
}

#nav-bar {
  background-color: black;
}

.nav-item {
  cursor: pointer;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect */

.fa:hover {
  color: #9CECFB;
  text-decoration: none;
}

/* Email, GitHub, Instagram*/

.fa-envelope, .fa-github, .fa-instagram {
  color: white;
}

/* about items */

.ul-no-style {
  list-style-type: none;
  padding-left: 0;
}

#about-container {
  position: relative;
  height: 100vh;
  padding-top: 25vh;
  text-align: center;
}

/* project items  */

.project-overlay .project-details {
  position: absolute;
  color: whitesmoke;
  background-color: #012a59;
  padding-top: 5%;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
}

.project-overlay .project-details>h4 {
  opacity: 0;
  color: whitesmoke;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: all 0.3s;
  font-size: 18px;
  text-transform: uppercase;
}

.project-overlay:hover .project-details>h4 {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.project-overlay:hover .project-details {
  opacity: 1;
}