@font-face {
  font-family: Raleway;
  src: url(./assets/fonts/Raleway/Raleway-Medium.ttf);
}

@font-face {
  font-family: Lora;
  src: url(./assets/fonts/Lora/Lora-VariableFont_wght.ttf);
}

@font-face {
  font-family: Jost;
  src: url(./assets/fonts/Jost/Jost-VariableFont_wght.ttf);
}

@font-face {
  font-family: Josefin;
  src: url(./assets/fonts/Josefin/JosefinSans-VariableFont_wght.ttf);
}

.josefin {
  font-family: 'Josefin';
  font-weight: normal;
}

.lora {
  font-family: 'Lora';
  font-weight: normal;
}

.App {
  text-align: center;
  background-color: #1d1d1d;
  color: #fefefe;
  background-image: url("./assets/images/about.svg");
  background-size: cover !important;
  -webkit-background-size: cover !important;
  background-attachment: local;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  font-family: Jost;
  font-weight: bold;
  padding: 40px;
}

.sub-title {
  font-family: Raleway;
  font-weight: 200;
  margin-bottom: 20px;
  color: lightcyan;
}

#nav-bar {
  background-color: black;
}

.nav-item {
  cursor: pointer;
}

.fa {
  padding: 10px;
  font-size: 25px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect */

.fa:hover {
  color: rgb(117, 90, 238);
  text-decoration: none;
}

/* Email, GitHub, Instagram*/

.fa-envelope, .fa-github, .fa-instagram {
  color: #52b1f0;
}

/* tooltip */

.fa-lightbulb-o {
  color: khaki;
}

/* about items */

.ul-no-style {
  list-style-type: none;
  padding-left: 0;
}

#about-container {
  position: relative;
  padding-top: 25vh;
  text-align: center;
}

/* contact section */

#contact {
  padding: 5% 0;
}

.thumbnail-text {
  white-space: pre-line;
}