@font-face {
  font-family: Raleway;
  src: url(./fonts/Raleway/Raleway-Medium.ttf);
}

@font-face {
  font-family: Jost;
  src: url(./fonts/Jost/Jost-VariableFont_wght.ttf);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  position: relative;
  height: 100vh;
  min-height: 400px;
  background: #161415 url(./images/no-copyright.jpg) no-repeat top center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  text-align: center;
  overflow: hidden;
}

#introduction {
  margin: 100px auto 100px auto;
  width: 70vw;
  color: white;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect */

.fa:hover {
  color: #9CECFB;
  text-decoration: none;
}

/* Set a specific color for each brand */

/* Email */

.fa-envelope {
  background: #373B44;
  color: white;
}

/* GitHub */

.fa-github {
  background: #373B44;
  color: white;
}

/* Instagram */

.fa-instagram {
  background: #373B44;
  color: white;
}

footer {
  background: #373B44;
}

#nav-bar {
  background-color: black;
}

.language {
  background-color: #005C97;
  color: white;
  float: left;
  width: 18%;
  font-weight: bold;
  font-family: Raleway;
  font-size: small;
}

.title {
  font-family: Jost;
  font-weight: bold;
  padding: 40px;
}